absl-py
attrs
bidict
blinker
cffi
click
colorama
contourpy
cycler
dnspython
eventlet
Flask
Flask-Cors
Flask-SocketIO
flatbuffers
fonttools
greenlet
h11
itsdangerous
jax
jaxlib
Jinja2
kiwisolver
MarkupSafe
matplotlib
mediapipe
ml_dtypes
MouseInfo
numpy
opencv-contrib-python
opencv-python
opt_einsum
packaging
pillow
protobuf
PyAutoGUI
pycparser
PyGetWindow
PyMsgBox
pyparsing
pyperclip
PyRect
PyScreeze
python-dateutil
python-engineio
python-socketio
pytweening
scipy
sentencepiece
simple-websocket
six
sounddevice
Werkzeug
wsproto
